@import url(variables.css);
*{
  padding:0;
  margin: 0;
  font-family:"";
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  position: relative;
  background: linear-gradient(to right, var(--color-2), var(--color-1))
}
.front {
  /* background-color: lightblue; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.just{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--color-4);
}

.confirmar{
  display: flex;
  flex-direction: flex;
  background-color: (var(--color-6));
  margin-top: 30px;
  margin-bottom: 30px;
}

.confirmar input {
  border-radius: 100px 0px 0px 100px;
}
.confirmar button{
  border-radius: 0px 100px 100px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.datetime{
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: var(--color-6); */
  color: var(--color-4);
  gap: 6px;
}
